name: Run Integration Tests

on:
  push:

  pull_request:
    types: [opened, reopened]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  integration-tests:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    env:
      CRISPRESSO2_DIR: ${GITHUB_WORKSPACE}/../CRISPResso2_copy

    strategy:
      fail-fast: false
      matrix:
        include:
          - name: "Basic, Params, NHEJ"
            targets: "basic params nhej_native_merge"
          - name: "Editors"
            targets: "prime-editor base_editor"
          - name: "BAM"
            targets: "bam bam-out bam-out-genome"
          - name: "Batch, Compare, Aggregate"
            targets: "batch compare aggregate"
          - name: "Pooled"
            targets: "pooled pooled-paired-sim pooled-prime-editing"
          - name: "Pooled Mixed Mode"
            targets: "pooled-mixed-mode pooled-mixed-mode-genome-demux"
          - name: "WGS, Asym"
            targets: "wgs asym-left asym-right asym-both"
          - name: "VCF"
            targets: "vcf"

    name: ${{ matrix.name }}

    steps:
      - uses: actions/checkout@v3

      - name: Setup Conda Env
        uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: test_env
          channels: conda-forge,bioconda,defaults
          auto-activate-base: false
          use-mamba: true

      - name: Get Date
        id: get-date
        run: echo "today=$(/bin/date -u '+%Y%m%d')" >> $GITHUB_OUTPUT
        shell: bash

      - name: Cache Conda Env
        id: cache-env
        uses: actions/cache@v3
        env:
          # Increase this number to reset the cache if envs/test_env.yml hasn't changed
          CACHE_NUMBER: 0
        with:
          path: /usr/share/miniconda/envs/test_env
          key: conda-${{ runner.os }}--${{ runner.arch }}--${{ steps.get-date.outputs.today }}-${{ env.CACHE_NUMBER }}-${{ hashFiles('.github/envs/test_env.yml') }}

      - name: Update Conda Env
        run: |
          conda env update -n test_env -f .github/envs/test_env.yml
        if: steps.cache-env.outputs.cache-hit != 'true'

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc g++ bowtie2 samtools libsys-hostname-long-perl
          conda list

      - name: Create directory for files
        run: |
          mkdir ../CRISPResso2_copy
          cp -r * ../CRISPResso2_copy

      - name: Copy C2_tests repo
        uses: actions/checkout@v3
        with:
          repository: edilytics/CRISPResso2_tests
          # ref: '<BRANCH-NAME>' # update to specific branch

      - name: Run Tests
        run: |
          failed=0
          for target in ${{ matrix.targets }}; do
            echo "::group::Running $target"
            make "$target" test print || failed=1
            echo "::endgroup::"
          done
          exit $failed
